doctype

html(lang='en')
  head
    
    - var title = "KOYAP"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/11.png')

    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(data-src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    

    .menu__scroll
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(data-src='img/logo.svg', alt='logo_black')
              
            .menu
              ul
                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') Why Us
                li
                  a(href='javascript:;') How it Works
                li
                  a(href='javascript:;') Partners
                li
                  a(href='javascript:;') FAQ
                li
                  a(href='javascript:;') About Us
                  
            a.tel(href='javascript:;') 1-800-xxx-xxxx
    header
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(data-src='img/logo.svg', alt='logo_black')
              
            .menu
              ul
                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') Why Us
                li
                  a(href='javascript:;') How it Works
                li
                  a(href='javascript:;') Partners
                li
                  a(href='javascript:;') FAQ
                li
                  a(href='javascript:;') About Us
                  
            a.tel(href='javascript:;') 1-800-xxx-xxxx
                  
            
 

          
    section.section__1
      .container
        .row
          .col.m12.s12.l12.xl12
            .image__left
              img(data-src='img/section__1_ship.svg', alt='challenge')
              
            .image__right
              img(data-src='img/section__1_plane.svg', alt='challenge')

              
          
            h1.title Book Your Favorite Destination <br>and get up to 70% Off!
            p.sub We have helped over 17,849 clients book their dream Vacation.
            
            
            .tab__form
              div
                .form
                  a.challenge(href='javascript:;')
                    img(data-src='img/challenge.svg', alt='challenge')

                  form(method='POST', action='javascript:void(null);')

                    ul
                      li
                        .box__tab
                          a.cruise.select(href='javascript:;') Cruise
                          a.travelling(href='javascript:;') Flight


                      li 



                      li
                        lable Phone Number

                        .form_input
                          span.field
                            input.phone(type='text', name='phone', required='', value='', placeholder='Add phone number')

                      li

                        lable Name

                        .form_input
                          span.field
                            input(type='text', name='name', required='', value='', placeholder='Enter your name')

                a.red(href='javascript:;') Get a free quote
              div
              
              
              



              
      .container
        .row
          .col.m12.s12.l12.xl12
            .image__left
              img(data-src='img/section__1_parrot_2.svg', alt='challenge')
              
            ul.brand
              li
                img(data-src='img/logo__1.svg', alt='challenge')
              li
                img(data-src='img/logo__2.svg', alt='challenge')
              li
                img(data-src='img/logo__3.svg', alt='challenge')
              li
                img(data-src='img/logo__4.svg', alt='challenge')
              li
                img(data-src='img/logo__5.svg', alt='challenge')
              li
                img(data-src='img/logo__6.svg', alt='challenge')
              li
                img(data-src='img/logo__7.svg', alt='challenge')
                
            .image__right
              img(data-src='img/section__1_parrot_1.svg', alt='challenge')



    section.section__2
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Testimonials
            
      .row
        .col.m12.s12.l12.xl12
          .testimonials
            div
              .box__testimonials
                .box__top
                  .box__img
                    img(data-src='img/section__2_user.png', alt='challenge')
                    
                  .box__content
                    h3.title__ Jennifer P.
                    ul.list
                      li
                        span.austin Austin – New York
                      li
                        span.business Business
                      li
                        span.top Top American First Class Airline
                      li
                        span.time 07.11.22

                .box__bottom 
                  p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__testimonials
                .box__top
                  .box__img
                    img(data-src='img/section__2_user.png', alt='challenge')
                  .box__content
                    h3.title__ Jennifer P.
                    ul.list
                      li
                        span.austin Austin – New York
                      li
                        span.business Business
                      li
                        span.top Top American First Class Airline
                      li
                        span.time 07.11.22

                .box__bottom 
                  p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__testimonials
                .box__top
                  .box__img
                    img(data-src='img/section__2_user.png', alt='challenge')
                  .box__content
                    h3.title__ Jennifer P.
                    ul.list
                      li
                        span.austin Austin – New York
                      li
                        span.business Business
                      li
                        span.top Top American First Class Airline
                      li
                        span.time 07.11.22

                .box__bottom 
                  p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__testimonials
                .box__top
                  .box__img
                    img(data-src='img/section__2_user.png', alt='challenge')
                  .box__content
                    h3.title__ Jennifer P.
                    ul.list
                      li
                        span.austin Austin – New York
                      li
                        span.business Business
                      li
                        span.top Top American First Class Airline
                      li
                        span.time 07.11.22

                .box__bottom 
                  p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__testimonials
                .box__top
                  .box__img
                    img(data-src='img/section__2_user.png', alt='challenge')
                  .box__content
                    h3.title__ Jennifer P.
                    ul.list
                      li
                        span.austin Austin – New York
                      li
                        span.business Business
                      li
                        span.top Top American First Class Airline
                      li
                        span.time 07.11.22

                .box__bottom 
                  p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__testimonials
                .box__top
                  .box__img
                    img(data-src='img/section__2_user.png', alt='challenge')
                  .box__content
                    h3.title__ Jennifer P.
                    ul.list
                      li
                        span.austin Austin – New York
                      li
                        span.business Business
                      li
                        span.top Top American First Class Airline
                      li
                        span.time 07.11.22

                .box__bottom 
                  p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.


          a.red__border(href='javascript:;') Show all Testimonials
          
          
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Why book with us
          
        .row
          .col.m6.s12.l4.xl4
            .box__book
              .box__img
                img(data-src='img/book_1.png', alt='challenge')
              .box__content
                h4.title__ Get secret deals and discounts
                p We have the best Cruise & Flight deals in the world. If you find a cheaper price online, we'll beat it.
                
          .col.m6.s12.l4.xl4
            .box__book
              .box__img
                img(data-src='img/book_2.png', alt='challenge')
              .box__content
                h4.title__ Get secret deals and discounts
                p We have the best Cruise & Flight deals in the world. If you find a cheaper price online, we'll beat it.
                
          .col.m6.s12.l4.xl4
            .box__book
              .box__img
                img(data-src='img/book_3.png', alt='challenge')
              .box__content
                h4.title__ Get secret deals and discounts
                p We have the best Cruise & Flight deals in the world. If you find a cheaper price online, we'll beat it.
                
              
          
          
          
          
          
    section.section__3
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title How it works
            
        .row
          .col.m12.s12.l4.xl4
            .box__
              h4.title__ Get in touch with an expert
              p Complete the request form OR call to speak to one of our Travel Experts
          .col.m12.s12.l4.xl4
            .box__
              h4.title__ Receive options via phone or email
              p Our Travel agents will contact you to help book your trip
          .col.m12.s12.l4.xl4
            .box__
              h4.title__ Choose and travel 
              p Pick the option that suits you best & get ready for your trip 
              
            
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Partner Cruise Lines & Airlines
            
            h3.title__line Our partner cruises
            
            ul.brand
              li
                img(data-src='img/brand__1.svg', alt='challenge')
              li
                img(data-src='img/brand__2.svg', alt='challenge')
              li
                img(data-src='img/brand__3.svg', alt='challenge')
              li
                img(data-src='img/brand__4.svg', alt='challenge')
              li
                img(data-src='img/brand__5.svg', alt='challenge')
              li
                img(data-src='img/brand__6.svg', alt='challenge')
              li
                img(data-src='img/brand__7.svg', alt='challenge')
              li
                img(data-src='img/brand__8.svg', alt='challenge')
              li
                img(data-src='img/brand__9.svg', alt='challenge')
              li
                img(data-src='img/brand__10.svg', alt='challenge')
              
            
            h3.title__line Our partner airlines
            
            ul.brand
              li
                img(data-src='img/brand__11.svg', alt='challenge')
              li
                img(data-src='img/brand__12.svg', alt='challenge')
              li
                img(data-src='img/brand__13.svg', alt='challenge')
              li
                img(data-src='img/brand__14.svg', alt='challenge')
              li
                img(data-src='img/brand__15.svg', alt='challenge')
              li
                img(data-src='img/brand__16.svg', alt='challenge')
              li
                img(data-src='img/brand__17.svg', alt='challenge')
              li
                img(data-src='img/brand__18.svg', alt='challenge')
              li
                img(data-src='img/brand__19.svg', alt='challenge')
              li
                img(data-src='img/brand__20.svg', alt='challenge')
              
                
                  
            
            
            
            
            
            
            
            
            
            
            
          
    section.section__4
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title FAQ

        .row
          .col.m12.s12.l12.xl12
            .tab__bot
              a.tab.active(href='javascript:;'  data-num='1') cRUISE
              a.tab(href='javascript:;' data-num='2') Flight
              
            .tab__content
              .tab_n.active
                ul.list
                  li.open
                    a.tab(href='javascript:;') Do I need a passport?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.
                  li
                    a.tab(href='javascript:;') Do I need a Visa?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.
 
                  li
                    a.tab(href='javascript:;') Can I cancel my ticket?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') What if I miss my cruise ship?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') Can I book tickets online?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

              .tab_n
                ul.list
                  li
                    a.tab(href='javascript:;') Flight Do I need a passport?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.
                  li
                    a.tab(href='javascript:;') Flight Do I need a Visa?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') Flight Can I cancel my ticket?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') Flight What if I miss my cruise ship?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') Flight Can I book tickets online?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

            
            
            
          
    section.section__5
      .container
        .row
          .col.m12.s12.l6.xl5
            h2.title About us
            
            p We’ve been in the travel industry for three generations and we truly love every part of it. Our passion for travel drives us to deliver the ultimate experience for our clients, be it a cruise to Alaska or a flight to Tanzania, our aim always stays true, to eliminate the hassle of booking so you can look forward to the best part of your journey. No matter what corner of the world you want to explore, we got your back.

          .col.m12.s12.l6.xl7
            .box__img
              img(data-src='img/section__5_frame.svg', alt='challenge')
            
            



    footer
      .container
        .row
          .col.m12.s12.l6.xl7
            .box__img
              img(data-src='img/footer_ship.svg', alt='challenge')
          
          .col.m12.s12.l6.xl5
          
            h2.title Sign up for special prices, frequent discounts, exclusive offers, and other perks!

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields
              
              ul
                li
                  label Name
                  .form_input
                    span.field
                      input(type='text', name='name', required='', value='', placeholder='Name')
                li
                  label Email
                  .form_input
                    span.field
                      input.mail(type='email', name='email', required='', value='', placeholder='Email')

              button.red(type='submit', name='send') Sign up
          
          
          
                

    a.call.none(href='javascript:;')
      img(data-src='img/call.svg', alt='call')
                  
    a.bot_modal.none(data-fancybox='', data-data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
          
          
    a.bot_modal.none(data-fancybox='', data-data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(data-src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(data-src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });


